asgiref
attrs
autobahn
Automat
certifi
cffi
channels
channels_redis
charset-normalizer
constantly
cryptography
daphne
Django
django-admin-honeypot-updated-2021
django-cors-headers
django-environ
django-filter
django-ipware
django-waitress
djangorestframework
hyperlink
idna
incremental
Markdown
msgpack
pyasn1
pyasn1_modules
pycparser
pyOpenSSL
python-ipware
redis
requests
service-identity
sqlparse
Twisted
txaio
typing_extensions
tzdata
urllib3
waitress
whitenoise
zope.interface
django-ckeditor
pillow